# Ignorer les fichiers objets
*.o

# Ignorer les fichiers exécutables (sur Linux/Unix)
*.out
# Pour Windows
*.exe

# Ignorer les dossiers de build spécifiques
build/
out/

# Ignorer les fichiers de log
*.log

# Autres fichiers générés lors de la compilation peuvent être ajoutés ici
*.DS_Store